body {
  /* font-family: 'Courier New', Courier, monospace; */
}

.sample-text {
  font-family: 'Courier New', Courier, monospace;
  width: 80ch;
}

rect.interquartile-box {
  stroke: black;
  fill: green;
}

line.median {
  stroke: black;
}

line.extent {
  stroke: black;
}

.metrics-output>div {
  /* In lieu of a grid system, put them onto one line for now */
  float: left; 
}